*{
    margin: 0;
    padding: 0;
    font-family:Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: none;
}
input:focus{
    outline: none;
}
.wrap{
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    min-width: 320px;
    overflow: hidden;
}
#d-mask{
    background: #000;
    opacity: .6;
    z-index: 1993;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.chief{
    width: 50%;
    position: absolute;
    z-index: 2000;
}
.chief img{
    width: 100%;
    display: block;

}
 .chief_left{
    left:0;
}
.chief_left img{
    height: 1068px;
}
.chief_right{
    right: 0;
}
.container .bg-pic{
    width:100%;
}
.thr_btn{
    position: absolute;
    bottom: 0;
    z-index:1;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.thr_btn img{
    width: 23%;
    margin:0 3%;
}
.skill{
    text-align: center;
    background-color: 8d0246;
    margin-top: -1px;
    line-height: 30px;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
}
.ruleWrap{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    left:0;
    z-index:1999;
}
.ruleWrap img{
    width: 80%;
}
.candle{
    position: absolute;
}
.candle img{width: 35%}
.candle_1{
    top: 364px;
    left: 214.5px;
}
.candle_2{
    top: 367px;
    left: 338px;
}
.candle_3{
    top: 466px;
    left: 171px;
}
.candle_4{
    top: 446px;
    left: 260px;
}
.candle_5{
    top: 450px;
    left: 353px;
}

@media screen and (min-width:320px){
    .candle_1 {  top: 184px;  left: 104px;  }
    .candle_2 {  top: 185px;  left: 170px;  }
    .candle_3 {  top: 236px;  left: 81px;  }
    .candle_5 {  top: 228px;  left: 177px;  }
}
@media screen and (min-width: 360px){
    .candle_1{top: 208px;  left: 119.5px;}
    .candle_2{top: 210px;  left: 194px;}
    .candle_3{top: 270px;  left: 94px;}
    .candle_5{top: 259px;  left: 203px;}
}
@media screen and (min-width: 375px){
    .candle_1{top: 218px;  left: 125px;}
    .candle_2{top: 220px;  left: 203px;}
    .candle_3{top: 282px;  left: 99px;}
    .candle_4{top: 271px;  left: 154px;}
    .candle_5{top: 273px;  left: 213px;}
}
@media screen and (min-width: 384px){
    .candle_1{top: 222px;  left: 129px;}
    .candle_2{top: 226px;  left: 208px;}
    .candle_3{top: 288px;  left: 102px;}
    .candle_4{top: 276px;  left: 158.5px;}
    .candle_5{top: 279px;  left: 218.5px;}
}
@media screen and (min-width: 414px){
    .candle_1{top: 242px;  left: 140.5px;}
    .candle_2{top: 246px;  left: 226px;}
    .candle_3{top: 313px;  left: 111px;}
    .candle_4{top: 299px;  left: 172px;}
    .candle_5{top: 303px;  left: 236px;}
}
@media screen and (min-width: 600px){
    .candle_1{top: 374px;  left: 223.5px;}
    .candle_2 {  top: 367px;  left: 338px;  }
    .candle_3 {  top: 466px;  left: 171px;  }
    .candle_4 {  top: 446px;  left: 260px;  }
    .candle_5 {  top: 450px;  left: 353px;  }
}
/*.................join.php...................*/
.shareWrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1999;
}
.shareWrap img{
    width: 98%;
}
.winningWrap{
    position:absolute;
    top: 0;
    left: 0;
    z-index:1999;
}
.winningWrap img{
    width: 100%;
}
.btnWrap{
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
}
.btnWrap img{
    width: 50%;
}

.infoWrap{
    position: absolute;
    z-index:1999;
}
.infoWrap .info_bg{
    width: 100%;
}
.info{
    position: absolute;
    top:195px;
    width: 100%;
    text-align: center;
}
.info input{
    width: 70%;
    line-height: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 7px 3px #5a0000;
    font-size: 30px;
    border: 2px solid #5a0000;
    border-radius: 10px;
    padding-left: 20px;
    color:#be2834;
}
.choose_head{
    font-size: 25px;
    color: #FFF;
    background-color: #bc1e2d;
    width: 80%;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 15px;
}
.place_name{
    display:none;
}
.place_row{
    margin: 0 auto;
    width: 64%;
    list-style: none;
    margin-top: 22px;
    font-size: 25px;
}
 .row{
    background-color: #fff;
    border: 2px solid #5a0000;
    margin-bottom: 19px;
    line-height: 48px;
    border-radius: 5px;
     cursor: pointer;
}
.active{
    background-color: #bc1e2d;
    color: #fff;
}
.sureBtn{
    width: 50%;
}
.faceWrap{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 370px;
    left:0;
    z-index: 1999;
}
.faceWrap img{
    width: 100%;
}
.faceWrap p{
    margin-top: -75px;
    font-size: 30px;
}
input::-webkit-input-placeholder {
    color: #be2834 !important;
    　　}
input:-moz-placeholder {
    color: #be2834 !important;
    　　}
input::-moz-placeholder {
    color: #be2834 !important;
    　　}
input:-ms-input-placeholder {
    color: #be2834 !important;
    　　}
@media screen and (min-width:320px){
    .chief img{height:609px;}
    .ruleWrap{top:50px;}
    .thr_btn{bottom:30px}

    .info{top:95px;}
    .info input{line-height: 30px;margin-bottom: 12px;  box-shadow: 3px 5px 2px #5a0000;font-size: 18px;  border-radius: 5px; }
    .choose_head{font-size: 18px;line-height: 36px;margin-top: 5px;}
    .place_row{  margin-top: 12px; font-size: 18px;}
    .row{margin-bottom: 11px;line-height: 23px;}

    .btnWrap{bottom:30px}

    .faceWrap{top:200px}
    .faceWrap p{font-size: 17px;margin-top: -40px}
}

@media screen and (min-width:360px){
    .chief img{height:680px;}
    .ruleWrap{top:60px;}


    .info{top:110px;}
    .info input{line-height: 30px;margin-bottom: 15px;  box-shadow: 3px 5px 2px #5a0000;font-size: 20px;  border-radius: 5px; }
    .choose_head{font-size: 20px;line-height: 38px;margin-top: 5px;}
    .place_row{  margin-top: 17px; font-size: 20px;}
    .row{margin-bottom: 8.5px;line-height:30px;}
    .sureBtn{margin-top: 5px;}

    .btnWrap{bottom:35px}

    .faceWrap{top:225px}
    .faceWrap p{font-size: 18px;margin-top: -43px}


}

@media screen and (min-width:375px){
    .chief img{height:707px;}
    .ruleWrap{top:60px;}


    .info{top:115px;}
    .info input{line-height: 30px;margin-bottom: 17px;  box-shadow: 3px 5px 2px #5a0000;font-size: 20px;  border-radius: 5px; }
    .choose_head{font-size: 20px;line-height: 40px;margin-top: 5px;}
    .place_row{  margin-top: 17px; font-size: 20px;}
    .row{margin-bottom: 9.5px;line-height:31px;}
    .sureBtn{margin-top: 5px;}

    .btnWrap{bottom:35px}

    .faceWrap{top:235px}
    .faceWrap p{font-size: 18px;margin-top: -43px}
}

@media screen and (min-width:384px){
    .chief img{height:723px;}
    .ruleWrap{top:60px;}

    .info{top:120px;}
    .info input{line-height: 31px;margin-bottom: 17px;  box-shadow: 3px 5px 2px #5a0000;font-size: 20px;  border-radius: 5px; }
    .choose_head{font-size: 20px;line-height: 40px;margin-top: 5px;}
    .place_row{  margin-top: 17px; font-size: 20px;}
    .row{margin-bottom: 10.5px;line-height:31px;}
    .sureBtn{margin-top: 5px;}

    .btnWrap{bottom:35px}

    .faceWrap{top:240px}
    .faceWrap p{font-size: 19px;margin-top: -45px}
}

@media screen and (min-width:414px){
    .chief img{height:776px;}
    .ruleWrap{top:70px;}
    .skill{font-size: 14px}

    .info{top:130px;}
    .info input{line-height: 36px;margin-bottom: 20px;  box-shadow: 3px 5px 2px #5a0000;font-size: 20px;  border-radius: 5px; }
    .choose_head{font-size: 20px;line-height: 40px;margin-top: 5px;}
    .place_row{  margin-top: 15px; font-size: 20px;}
    .row{margin-bottom: 11.5px;line-height:33px;}
    .sureBtn{margin-top: 5px;}

    .btnWrap{bottom:40px}

    .faceWrap{top:260px}
    .faceWrap p{font-size: 22px;margin-top: -50px}
}


@media screen and (min-width:600px){
    .chief img{height:1107px;}
    .ruleWrap{top:100px}


    .info{top:195px;}
    .info input{line-height: 50px;margin-bottom: 30px;  box-shadow: 5px 7px 3px #5a0000;font-size: 30px;  border-radius: 10px; }
    .choose_head{font-size: 25px;line-height: 50px;margin-top: 15px;}
    .place_row{  margin-top: 22px; font-size: 25px;}
    .row{margin-bottom: 19px;line-height:48px;}
    .sureBtn{margin-top: 5px;}

    .btnWrap{bottom:50px}

    .faceWrap{top:370px}
    .faceWrap p{font-size: 30px;margin-top: -75px}

}